.MainHudAssetDependency0 { background-image:url("ui-resource://icon.nav.return"); }
.MainHudAssetDependency1 { background-image:url("ui-resource://icon.nav.settings"); }
.MainHudAssetDependency2 { background-image:url("ui-resource://icon.nav.treasure"); }
.MainHudAssetDependency3 { background-image:url("ui-resource://icon.nav.archive"); }
.MainHudAssetDependency4 { background-image:url("ui-resource://icon.nav.equipment"); }
.MainHudAssetDependency5 { background-image:url("ui-resource://icon.nav.lottery"); }
.MainHudAssetDependency6 { background-image:url("ui-resource://icon.nav.benefit"); }
.MainHudAssetDependency7 { background-image:url("ui-resource://icon.nav.appearance"); }
.MainHudAssetDependency8 { background-image:url("ui-resource://icon.nav.social"); }
.MainHudAssetDependency9 { background-image:url("ui-resource://project.custom_game.main_hud_v1.hp_fill_clean"); }
.MainHudAssetDependency10 { background-image:url("ui-resource://project.custom_game.main_hud_v1.mp_fill_clean"); }
.MainHudAssetDependency11 { background-image:url("ui-resource://project.custom_game.main_hud_v1.hp_track_clean"); }
.MainHudAssetDependency12 { background-image:url("ui-resource://project.custom_game.main_hud_v1.mp_track_clean"); }
.MainHudAssetDependency13 { background-image:url("ui-resource://frame.hud.tl"); }
.MainHudAssetDependency14 { background-image:url("ui-resource://frame.hud.top"); }
.MainHudAssetDependency15 { background-image:url("ui-resource://frame.hud.tr"); }
.MainHudAssetDependency16 { background-image:url("ui-resource://frame.hud.left"); }
.MainHudAssetDependency17 { background-image:url("ui-resource://frame.hud.right"); }
.MainHudAssetDependency18 { background-image:url("ui-resource://frame.hud.bl"); }
.MainHudAssetDependency19 { background-image:url("ui-resource://frame.hud.bottom"); }
.MainHudAssetDependency20 { background-image:url("ui-resource://frame.hud.br"); }
.MainHudAssetDependency21 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_tl"); }
.MainHudAssetDependency22 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_top"); }
.MainHudAssetDependency23 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_tr"); }
.MainHudAssetDependency24 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_left"); }
.MainHudAssetDependency25 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_right"); }
.MainHudAssetDependency26 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_bl"); }
.MainHudAssetDependency27 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_bottom"); }
.MainHudAssetDependency28 { background-image:url("ui-resource://project.custom_game.main_hud_v1.minimap_br"); }
.MainHudAssetDependency29 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_tl"); }
.MainHudAssetDependency30 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_top"); }
.MainHudAssetDependency31 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_tr"); }
.MainHudAssetDependency32 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_left"); }
.MainHudAssetDependency33 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_right"); }
.MainHudAssetDependency34 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_bl"); }
.MainHudAssetDependency35 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_bottom"); }
.MainHudAssetDependency36 { background-image:url("ui-resource://project.custom_game.main_hud_v1.inventory_br"); }
.MainHudAssetDependency37 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_tl"); }
.MainHudAssetDependency38 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_top"); }
.MainHudAssetDependency39 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_tr"); }
.MainHudAssetDependency40 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_left"); }
.MainHudAssetDependency41 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_right"); }
.MainHudAssetDependency42 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_bl"); }
.MainHudAssetDependency43 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_bottom"); }
.MainHudAssetDependency44 { background-image:url("ui-resource://project.custom_game.main_hud_v1.commands_br"); }
.MainHudAssetDependency45 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_tl"); }
.MainHudAssetDependency46 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_top"); }
.MainHudAssetDependency47 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_tr"); }
.MainHudAssetDependency48 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_left"); }
.MainHudAssetDependency49 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_right"); }
.MainHudAssetDependency50 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_bl"); }
.MainHudAssetDependency51 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_bottom"); }
.MainHudAssetDependency52 { background-image:url("ui-resource://project.custom_game.main_hud_v1.scoreboard_br"); }
.MainHudAssetDependency53 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_tl"); }
.MainHudAssetDependency54 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_top"); }
.MainHudAssetDependency55 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_tr"); }
.MainHudAssetDependency56 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_left"); }
.MainHudAssetDependency57 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_right"); }
.MainHudAssetDependency58 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_bl"); }
.MainHudAssetDependency59 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_bottom"); }
.MainHudAssetDependency60 { background-image:url("ui-resource://project.custom_game.main_hud_v1.item_slot_br"); }
.MainHudAssetDependency61 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_tl"); }
.MainHudAssetDependency62 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_top"); }
.MainHudAssetDependency63 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_tr"); }
.MainHudAssetDependency64 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_left"); }
.MainHudAssetDependency65 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_right"); }
.MainHudAssetDependency66 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_bl"); }
.MainHudAssetDependency67 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_bottom"); }
.MainHudAssetDependency68 { background-image:url("ui-resource://project.custom_game.main_hud_v1.command_slot_br"); }
.MainHudAssetDependency69 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_tl"); }
.MainHudAssetDependency70 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_top"); }
.MainHudAssetDependency71 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_tr"); }
.MainHudAssetDependency72 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_left"); }
.MainHudAssetDependency73 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_right"); }
.MainHudAssetDependency74 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_bl"); }
.MainHudAssetDependency75 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_bottom"); }
.MainHudAssetDependency76 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_button_br"); }
.MainHudAssetDependency77 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_target_icon_64"); }
.MainHudAssetDependency78 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_flag_icon_64"); }
.MainHudAssetDependency79 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_bag_icon_64"); }
.MainHudAssetDependency80 { background-image:url("ui-resource://project.custom_game.main_hud_v1.utility_zoom_icon_64"); }
.MainHudAssetDependency81 { background-image:url("ui-resource://project.custom_game.main_hud_v1.stat_attack_icon_64"); }
.MainHudAssetDependency82 { background-image:url("ui-resource://project.custom_game.main_hud_v1.stat_armor_icon_64"); }
.MainHudAssetDependency83 { background-image:url("ui-resource://project.custom_game.main_hud_v1.stat_strength_icon_64"); }
.MainHudAssetDependency84 { background-image:url("ui-resource://project.custom_game.main_hud_v1.stat_agility_icon_64"); }
.MainHudAssetDependency85 { background-image:url("ui-resource://project.custom_game.main_hud_v1.stat_intelligence_icon_64"); }
.MainHudAssetDependency86 { background-image:url("ui-resource://project.custom_game.main_hud_v1.currency_icon_64"); }
